CONFIG_RISCV=y
CONFIG_DEFAULT_DEVICE_TREE="occamy"
CONFIG_TARGET_PULP_PLATFORM_OCCAMY=y
CONFIG_ARCH_RV64I=y
CONFIG_LOG=y
CONFIG_LOG_MAX_LEVEL=9
CONFIG_LOGF_FUNC=y
CONFIG_LOG_ERROR_RETURN=y
CONFIG_SPL_SPI_FLASH_MTD=y
CONFIG_OF_EMBED=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_ISSI=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_XMC=y
# CONFIG_SPI_FLASH_USE_4K_SECTORS is not set
CONFIG_SPI_FLASH_MTD=y
CONFIG_SYS_NS16550=y
CONFIG_SPI=y
CONFIG_XILINX_SPI=y
CONFIG_RISCV_SMODE=y
CONFIG_OF_LIBFDT=y
CONFIG_OF_BOARD_SETUP=y
CONFIG_BOOTDELAY=5
CONFIG_USE_BOOTCOMMAND=y
CONFIG_BOOTCOMMAND="sf probe; fdt addr $(fdtcontroladdr); fdt set /chosen stdout-path \"/soc/serial@40000000:115200\"; sf read 82000000 0 a00000; bootm 82000000 - $(fdtcontroladdr)"
CONFIG_DISPLAY_CPUINFO=y
